/* --- Media Query para Móviles (Ancho máximo de 768px) --- */
@media (max-width: 768px) {

    .main-menu {
        display: none;
        position: absolute;
        top: 88px;
        left: 0;
        width: 100%;
        background: var(--color-light);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 999;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .navbar .main-menu ul {
        flex-direction: column;
        align-items: flex-end;
        padding-left: 300px;
    }

    .navbar .main-menu ul li a {
        padding: 15px 20px;
        border-bottom: 1px solid var(--color-btn-hover);
        width: 100%;
        text-align: center;
    }

    .navbar .main-menu ul li:last-child a {
        margin-left: 0;
        border-bottom: none;
    }

    .main-menu.active {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .navbar .container {
        justify-content: center;
        padding: 0 20px;
    }

    .hamburger-menu {
        display: block;
    }

    .hero-content {
        width: 90%;
        margin: 40px auto;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 40px;
        line-height: 120%;
    }

    .hero-text {
        width: 90%;
        margin: 24px auto 0;
        font-size: 18px;
    }

    .hero-buttons {
        flex-direction: row;
        width: 100%;
        margin-top: 30px;
        position: static;
        align-items: flex-start;
        gap: 20px;
    }

    .hero-buttons button {
        position: static;
        margin: 0;
        width: 280px;
        height: 48px;
    }

    .hero-img {
        display: none;
    }

    .heading2 {
        width: 90%;
        margin: 0 auto;
        font-size: 28px;
        line-height: 130%;
    }

    .img-video {
        margin-top: 30px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .heading3 {
        width: 90%;
        height: auto;
        margin: 40px auto 0;
        font-size: 28px;
        line-height: 130%;
        text-align: center;
    }

    .testimonials {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .testimonial {
        width: 70%;
        margin-top: 30px;
        padding: 25px;
        font-size: 16px;
    }

    .heading4 {
        width: 90%;
        margin: 40px auto 0;
        font-size: 32px;
        letter-spacing: normal;
    }

    .paragraph {
        width: 90%;
        margin: 24px auto 0;
    }

    .pricing-cards {
        width: 90%;
        margin: 40px auto 0;
        flex-direction: column;
        gap: 30px;
    }

    .simple,
    .premium {
        width: 100%;
        padding: 40px;
        height: auto;
        border-radius: 16px;
        text-align: left;
    }

    .pricing-buttons {
        margin-left: 0;
        margin-top: 32px;
        text-align: left;
    }

    .pricing-buttons .btn-blue {
        width: 100%;
        height: 50px;
    }

    .body-premium p:first-of-type {
        margin-top: 16px;
    }

    .subfooter {
        width: 90%;
        margin: 48px auto 72px;
    }

    .flex-footer {
        flex-direction: column;
        align-items: center;
    }

    .sections-footer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .company,
    .resources,
    .contact {
        text-align: center;
    }
}